<form action="<%= subs_url %>" method="POST">
    <%= auth_token %>
    <label>Title
        <input type="text" name="title">
    </label>
    <label>description
        <input type="text" name="description">
    </label>
    <input type="submit" name="Create Sub">

